body{
    background-color: rgb(28, 28, 28);
}

label{
    color: gold;
    font-size: 30;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}



p{
    color: white;
    font-size: 13;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.left{
  margin-bottom: auto;
  align-items: left;
  text-align: left;
}

.side-panel{
  position: absolute;
  right: 0;
  top: 0;
  color: gold;
  width: 20%;
  height: 100vh;

  background-color:rgb(19, 18, 18);

  border-left: 1px rgba(255, 255, 255, 0.2) solid;

}

.grain-name {
  text-align:  left;
}

.grain-description {
  width: 100%;
  text-align:  center;
}

.side-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    box-sizing: border-box;
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    color: white;
}

.close-btn svg {
    display: block;
}

.open-btn{
  position: absolute;

  top: 40px;
  right: 40px;

  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: white;
}

/* 
#materialPreview{
  width: 48px;
  height: 48px;
  margin-top: 10px;
}
   */


.button-19 {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  appearance: button;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;

  width: 50px;
  height: 50px;

}







.center{
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

#brushSize {
  -webkit-appearance: none;
  width: 180px;
  height: 18px;
  background: #222;
  border-radius: 9px;
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
  transition: box-shadow 0.2s;

  border: 3px solid gold;
}




#brushSize::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: gold;
  cursor: pointer;
  box-shadow: 0 0 8px #000;
  transition: background 0.2s;
}

#brushSize:active::-webkit-slider-thumb {
  background: #ffd700;
}

#brushSize::-moz-range-thumb {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: gold;
  cursor: pointer;
  box-shadow: 0 0 8px #000;
  transition: background 0.2s;
}



#brushSize::-ms-thumb {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px #000;
  transition: background 0.2s;
}

#brushSize:focus {
  outline: none;
}

#brushSize::-ms-fill-lower {
  background: #222;
  border-radius: 9px;
}

#brushSize::-ms-fill-upper {
  background: #222;
  border-radius: 9px;
}

#brushSize::-webkit-slider-runnable-track {
  height: 18px;
  background: #222;
  border-radius: 9px;
}

#brushSize::-moz-range-track {
  height: 18px;
  background: #222;
  border-radius: 9px;
}

#brushSize::-ms-fill-lower,
#brushSize::-ms-fill-upper {
  background: #222;
}

#materialMenu{
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  gap: 10px; 
  justify-content: center;
}



@media (max-width: 700px) {
  .center {
    flex-direction: column;
    align-items: center;
  }
  #grainMenu {
    float: none;
    display: block;
    margin: 0 auto 10px auto;
  }
  #canvas {
    width: 90vw !important;
    height: 90vw !important;
    display: block;
    margin: 0 auto;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .button-19 {
    width: 50px;
    height: 50px;
  }

  .main-layout {
    flex-direction: column;
    align-items: center;
  }
  #grainMenu {
    margin: 10px auto 0 auto;
    display: block;
    order: 2;
  }
  .center {
    order: 1;
  }

  #materialMenu {
    flex-direction: column;
    gap: 5px;
  }
}