:root {
  --accent: #D95F02;
  --side-panel: #bbb8b6;
  --side-panel-header: #7f7974;
  --text-color: black;
}

body {
  background-color: var(--side-panel);
  margin: 0;

}

label {
  color: var(--accent);
  font-size: 30;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



p {
  color: var(--text-color);
  font-size: 13;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left {
  margin-bottom: auto;
  align-items: left;
  text-align: left;
}

.side-panel {
  position: absolute;
  right: 0;
  top: 60px;
  color: var(--accent);
  width: 20%;
  height: calc(100vh - 60px);

  background-color: var(--side-panel);

  border-left: 1px rgba(43, 43, 43, 0.2) solid;

}

.grain-name {
  text-align: left;
}

.grain-description {
  width: 100%;
  text-align: center;
}

.side-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--side-panel-header);
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  box-sizing: border-box;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: white;
}

.close-btn svg {
  display: block;
}

.canvas-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.open-btn {
  position: absolute;

  top: 80px;
  right: 40px;

  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: white;
}

/* 
#materialPreview{
  width: 48px;
  height: 48px;
  margin-top: 10px;
}
   */


.button-19 {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  appearance: button;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;

  width: 50px;
  height: 50px;

}







.center {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

#brushSize {
  width: 180px;
  height: 18px;
  background: #222;
  border-radius: 9px;
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
  transition: box-shadow 0.2s;

  border: 3px solid gold;
}




#brushSize::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: gold;
  cursor: pointer;
  box-shadow: 0 0 8px #000;
  transition: background 0.2s;
}

#brushSize:active::-webkit-slider-thumb {
  background: #ffd700;
}

#brushSize::-moz-range-thumb {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: gold;
  cursor: pointer;
  box-shadow: 0 0 8px #000;
  transition: background 0.2s;
}



#brushSize::-ms-thumb {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px #000;
  transition: background 0.2s;
}

#brushSize:focus {
  outline: none;
}

#brushSize::-ms-fill-lower {
  background: #222;
  border-radius: 9px;
}

#brushSize::-ms-fill-upper {
  background: #222;
  border-radius: 9px;
}

#brushSize::-webkit-slider-runnable-track {
  height: 18px;
  background: #222;
  border-radius: 9px;
}

#brushSize::-moz-range-track {
  height: 18px;
  background: #222;
  border-radius: 9px;
}

#brushSize::-ms-fill-lower,
#brushSize::-ms-fill-upper {
  background: #222;
}

#materialMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.button-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--side-panel-header);

  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 30px;

}



@media (max-width: 700px) {
  .center {
    flex-direction: column;
    align-items: center;
  }

  #grainMenu {
    float: none;
    display: block;
    margin: 0 auto 10px auto;
  }

  #canvas {
    width: 90vw !important;
    height: 90vw !important;
    display: block;
    margin: 0 auto;
  }

  .button-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: black;
  }

  .button-19 {
    width: 50px;
    height: 50px;
  }

  .main-layout {
    flex-direction: column;
    align-items: center;
  }

  #grainMenu {
    margin: 10px auto 0 auto;
    display: block;
    order: 2;
  }

  .center {
    order: 1;
  }

  #materialMenu {
    flex-direction: column;
    gap: 5px;
  }
}